{% set title='Edit key {0}'.format(key.key) %}
{% import "form_helper.html" as forms with context %}
{% include "_html_header.html" %}
<body>
{% include "_page_top.html" %}
<h1>{{ title }}</h1>
<div id="edit_key_form">
<form class="clearfix" action="{{ url_for('admin_edit_key') if is_admin else url_for('edit_key') }}" method="POST">
  <input name="key_id" type="hidden" value="{{ key.key }}" />
  <ul class="inline">
    <li>
      {{ forms.textfield('email', label='Contact:', desc="(a secondary contact, such as your team's e-mail address)", size=40, default=key.email) }}
    </li>
    <li>
      {{ forms.textfield('description', size=60, label='Description:', desc='(a brief description of where this will be used)', default=key.description) }}
    </li>
  </ul>
  <span class="clearfix"></span>
  <br/>
  <ul class="inline">
    <li>{% if is_admin %}{{ forms.textfield('owner', label='Owner:', desc="(an MIT user's e-mail address)", size=30, default=key.owner) }}{% else %}
      <span class="textfield">Owner:</span>
      <span class="textfield fakeinput">{{key.owner}}</span>
      <span class="textfield hint">(To change the owner, please contact kb-help@mit.edu)</span>
{% endif %}
    </li>
    <li>
      <span class="textfield">Status:</span>
      {% if is_admin %}
      <select name="status">
	{% for status in statuses %}
	<option value="{{status}}"{% if status == key.status %}selected="selected"{% endif %}>{{status}}</option>
	{% endfor %}
      </select>
      {% else %}
      <span class="textfield">{{ key.status }} </span>
      {% if deactivatable %}
      <input type="checkbox" name="deactivate" value="yes"/><label for="deactivate"/>Deactivate this key?</label>
{% endif %}
{% endif %}
    </li>
  </ul>
  <span class="clearfix"></span>
  <br/>
  <ul class="inline">
    <li>
      <span class="textfield">Permissions:</span>
      <table>
      {% for perm in key.permissions %}
      <tr><td>
      <input type="hidden" name="permissions" value="{{ perm.space_key }}" />
      {{ perm.space_key }}
      </td>
      {% for p in permissions.all %}
	<td>
	  {% if is_admin %}
<label><input type="checkbox" name="permissions.{{ perm.space_key }}" value="{{ p[0] }}"{% if key.can(permissions[p[0]], perm.space_key) %}checked="checked"{% endif %} />{{ p[0]|permlabel }}</label>
{% else %}
{% if key.can(permissions[p[0]], perm.space_key) %}
&#x2713;
{% else %}
&#x2717;
{% endif %}
{{ p[0]|permlabel }}
{% endif %}
</td>
      {% endfor %}
      </tr>
      {% endfor %}
      {% if is_admin %}
      <tr><td colspan="{{ permissions.all|count +1 }}">Add New</td></tr>
      <tr><td>
      <input type="text" name="_new_permissions_space"/>
      </td>
      {% for p in permissions.all %}
	<td><label><input type="checkbox" name="_new_permissions" value="{{ p[0] }}" />{{ p[0]|permlabel }}</label></td>
      {% endfor %}
      </tr>
      {% endif %}
      </table>
    </li>
  </ul>
  <span class="clearfix"></span>
  <br/>
  <ul class="inline">
    <li>
      <br/>
      <input type="submit" name="edit_key_submit" value="Save Changes"/>
    </li>
  </ul>
{% if form_error is defined %}
<p class="form_error">Error: {{ form_error }}</p>
{% endif %}
</form>
</div>
{% include "debug.html" %}
</body>
</html>
