{% set title = 'Manage API Keys' %}
{% import "form_helper.html" as forms with context %}
{% include "_html_header.html" %}
<body>
{% include "_page_top.html" %}

<div id="generate-key">
<h1>{{ title }}</h1>
<form class="clearfix" action="{{ url_for('admin_root') }}" method="POST">
  <ul class="inline">
    <li>
      {{ forms.textfield('owner', label='Owner:', desc="(MIT e-mail address that will manage key, using certificates)", size=30) }}
    </li>
    <li>
      {{ forms.textfield('email', label='Contact:', desc="(a secondary contact, such as your team's e-mail address)", size=40) }}
    </li>
    <li>
      {{ forms.textfield('description', size=60, label='Description:', desc='(a brief description of where this will be used)') }}
    </li>
    <li>
      <br>
      <input type="submit" name="submit" value="Generate Key"/>
    </li>
  </ul>
  {% if form_error is defined %}
  <p class="form_error">Error: {{form_error}}</p>
  {% endif %}
</form>
</div>


{% import "key_table.html" as kt with context %}
{% if pending_keys %}
<h2>Keys Awaiting Approval</h2>
{{ kt.key_table(pending_keys, True) }}
{% endif %}

<h2>Existing Keys</h2>
{% if all_keys %}
{{ kt.key_table(all_keys) }}
{% endif %}

</body>
</html>
